name: "qownnotes-api"

services:
  web:
    image: nginx:alpine
    working_dir: /application
    volumes:
      - ..:/application
      - ./webserver/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "127.0.0.1:8000:80"
    depends_on:
      - php-fpm

  php-fpm:
    environment:
      - TERM_PROGRAM=Hyper # force colors for the symfony dumper
      - TZ=Europe/Vienna
      - MATOMO_URL=https://p.qownnotes.org
    build:
      context: php-fpm
    working_dir: /application
    volumes:
      - ..:/application
      - ./php-fpm/php-ini-overrides.ini:/etc/php/8.4/fpm/conf.d/99-overrides.ini
      - ./php-fpm/php-fpm-overrides.conf:/etc/php/8.4/fpm/pool.d/z-overrides.conf
