name: Test
on:
  push:
    branches:
      - "**" # This will match all branches
      - "!release" # This excludes the release branch
  pull_request:
    branches:
      - "**" # This will match all branches
      - "!release" # This excludes the release branch
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      #    - name: Install packages
      #      run: sudo apt -y --no-install-recommends install ca-certificates curl git php7.4-cli php7.4-curl php7.4-json php7.4-mbstring php7.4-xml php7.4-gmp composer
      - name: Install dependencies
        uses: php-actions/composer@v5
        with:
          php_version: 8.2
          version: 2
      - name: Run tests
        uses: php-actions/composer@v6
        with:
          command: run test
          php_version: 8.2
          version: 2
        env:
          # because of: 1x: Class "ApiPlatform\Core\Bridge\Symfony\Bundle\Test\Client" should implement method "Symfony\Contracts\HttpClient\HttpClientInterface::withOptions(array $options)": Returns a new instance of the client with new default options.
          SYMFONY_DEPRECATIONS_HELPER: weak
      #    - name: PHPUnit tests
      #      uses: php-actions/phpunit@v2
      #      with:
      #        php_version: 8.2
      #        version: 8
      #    - name: Run tests
      #      run: vendor/bin/simple-phpunit
      #    - name: Run tests
      #      run: php7.4 vendor/bin/simple-phpunit
      - name: Try to build docker image
        run: docker build .
